node_modules/
.expo/
dist/
web-build/
.env
.env.local
.env.*.local

# macOS
.DS_Store

# Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# EAS
.easignore
eas-cli-local.json

# iOS
ios/

# Android
android/
